* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Elements */
:root {
  --primary-font-color: #fff;
  --secondary-font-color: #acacac;
  --highlight-font-color: #ff6700;
}

  /* Background */
body {
  position: relative;
  font-family: 'Roboto';
  position: relative;
  max-width: 1440px;
  height: 100dvh;
  background: radial-gradient(47.71% 47.71% at 50% 34.23%,
   rgba(125, 125, 125, 0.08) 0%, 
   rgba(0, 0, 0, 0) 100%), 
   linear-gradient(115.85deg, 
   rgba(145, 172, 182, 0.1) 0%, 
   rgba(171, 240, 255, 0) 78.91%), 
   linear-gradient(296.82deg, 
   rgba(40, 40, 40, 0.08) 0%, 
   rgba(0, 0, 0, 0) 100%), #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

/* Navigation Styling */
nav {
  max-width: 1440px;
  height: clamp(2rem, 4rem, 114px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 5vw;
  /* border: 1px solid red; */
  z-index: 1;
}

nav h1 {
  margin-right: auto;
  font-size: 1.2rem;
}

nav > a {
  /* Existing styles */
  color: var(--primary-font-color);
  text-decoration: none;
  margin: 32px;
  font-size: clamp(0.7rem, 1rem, 32px);
  font-weight: 500;
}


/* Main Styling */
.main-container {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  display: grid;
  place-content: center;
  /* border: 3px solid blue; */
}

.main-intro {
  /* border: 1px solid lime; */
  display: grid;
  max-width: 895px;
  margin-bottom: 1rem;
}

.main-intro h1 {
  font-size: 150px;
  margin-top: -12px;
}

.main-intro p {
  font-size: clamp(0.5rem, 16px, 32px);
}

.learn-more button {
  background: transparent;
  border: 1px solid var(--secondary-font-color);
  color: var(--primary-font-color);
  padding: 6px;
  z-index: 1;
  transition: all 0.2s ease-in;
}

.learn-more button:hover {
  background: var(--secondary-font-color);
  color: #212121;
  cursor: pointer;
  border: 1px solid black;
}


/* Links */
.social-links {
  width: min-content;
  position: absolute;
  bottom: 2rem;
  left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  /* border: 2px solid yellow; */
}

.social-links img {
  width: 25px;
  backdrop-filter: multiply;
  filter: brightness(0) invert(1);
}

#instagram {
  filter: brightness(0.2) invert(1); /* Adjust the brightness value as needed */
}

a:hover {
  opacity: 0.5;
}

/* Decorations */
#ecllipse1, #ecllipse2, #ecllipse3 {
  position: absolute;
  top: 0;
}

#ecllipse1 {
  right: 4rem;
  top: 16vh;
}

#ecllipse2 {
  right: 6rem;
  top: 60%;
}

#ecllipse3 {
  right: 30%;
  top: 70vh;
}

.lhs-deco {
  position: fixed;
  top: 15%;
  left: 5vw;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  position: fixed;
  right: 12px;
  bottom: 24px;
  transform: rotate(90deg);
}

footer > h2 {
  font-size: 16px;
  font-weight: 400;
}

footer > p {
  font-size: 32px;
  font-weight: 400;
}

/* Desktop View */
@media (width > 1080px){
  .main-intro h1 {
    font-size: clamp(150px, 200px, 20rem);
  }
  
}