@import './styles/home.css';
@import './styles/about.css';
@import './styles/blog.css';
@import './styles/project.css';

@import './styles/mobile.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Elements */
:root {
  --primary-font-color: #ededed;
  --secondary-font-color: #8e8e8e;
  --highlight-font-color: #ff6700;
}

#blog {
  display: block;
}

/* Background */
body {
  position: relative;
  font-family: 'Roboto';
  max-width: 1440px;
  height: 100dvh;
  background: radial-gradient(47.71% 47.71% at 50% 34.23%,
  rgba(125, 125, 125, 0.08) 0%, 
  rgba(0, 0, 0, 0) 100%), 
  linear-gradient(115.85deg, 
  rgba(145, 172, 182, 0.1) 0%, 
  rgba(171, 240, 255, 0) 78.91%), 
  linear-gradient(296.82deg, 
  rgba(40, 40, 40, 0.08) 0%, 
  rgba(0, 0, 0, 0) 100%), #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

/* Navigation Styling */
nav {
  max-width: 1440px;
  height: clamp(2rem, 4rem, 114px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 5vw;
  z-index: 9;
}

nav #home-link {
  margin-right: auto;
  font-size: 1.25rem;
}

nav .link {
  color: var(--primary-font-color);
  text-decoration: none;
  margin: 30px;
  font-size: clamp(0.7rem, 1rem, 32px);
  font-weight: 500;
  z-index: 9;
}

nav a:valid {
  color: var(--secondary-font-color);
  border-bottom: 2px solid var(--highlight-font-color);
}

a:hover {
  opacity: 0.7;
}



/* Contact Section */
#contact-section {
padding: 2vh 2rem;
position: relative;
display: flex;
gap: 12rem;
}

#contact-section .contact-info {
display: flex;
flex-direction: column;
padding: 2rem;
gap: 2rem;
}

#contact-section .contact-info h1 {
color:var(--secondary-font-color)
}

#contact-section .contact-info p {
line-height: 24px;
color: var(--primary-font-color);
}

#contact-section .get-in-touch {
position: relative;
width: clamp(400px, 47vw, 668px);
height: clamp(400px, 82vh, 718px);
display: grid;
place-items: center;
/* margin-right: vw; */
border: none;
background-color: #2a2f3d1e;
box-shadow: -8px 8px 10px 2px rgba(0, 0, 0, 0.4);
}

#contact-section .get-in-touch .input-field {
width: 400px;
display: grid;
gap: 15vh;
}
#contact-section .get-in-touch .input-field input {
padding: .2rem 0;
}

#contact-section .get-in-touch h1 {
color: var(--primary-font-color);
}

#contact-section .get-in-touch button {
padding: 0.4rem 1rem;
color: var(--primary-font-color);
background-color: #212121;
border: 0.5px solid white;
}

#contact-section .get-in-touch button:hover {
opacity: 0.8;
}


@media (width > 1920px) {
  body {
    min-width: 100vw;
  }
  nav {
    min-width: 100vw;
  }
  nav img {
    display: none;
  }
  #about-social-links {
    display: none;
  }
}
