* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Elements */
:root {
  --primary-font-color: #ededed;
  --secondary-font-color: #8e8e8e;
  --highlight-font-color: #ff6700;
}

#blog {
  display: block;
}

/* Background */
body {
  position: relative;
  font-family: 'Roboto';
  max-width: 1440px;
  height: 100dvh;
  background: radial-gradient(47.71% 47.71% at 50% 34.23%,
  rgba(125, 125, 125, 0.08) 0%, 
  rgba(0, 0, 0, 0) 100%), 
  linear-gradient(115.85deg, 
  rgba(145, 172, 182, 0.1) 0%, 
  rgba(171, 240, 255, 0) 78.91%), 
  linear-gradient(296.82deg, 
  rgba(40, 40, 40, 0.08) 0%, 
  rgba(0, 0, 0, 0) 100%), #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

/* Navigation Styling */
nav {
  max-width: 1440px;
  height: clamp(2rem, 4rem, 114px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 5vw;
  z-index: 9;
}

nav #home-link {
  margin-right: auto;
  font-size: 1.25rem;
}

nav .link {
  color: var(--primary-font-color);
  text-decoration: none;
  margin: 30px;
  font-size: clamp(0.7rem, 1rem, 32px);
  font-weight: 500;
  z-index: 9;
}

nav a:valid {
  color: var(--secondary-font-color);
  border-bottom: 2px solid var(--highlight-font-color);
}

a:hover {
  opacity: 0.7;
}

#home-section .main-container {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  display: grid;
  place-content: center;
}

#home-section .main-intro {
  display: grid;
  max-width: 895px;
  margin-bottom: 1rem;
}

.main-intro h1 {
  font-size: 150px;
  margin-top: -12px;
}

.main-intro p {
  font-size: clamp(0.5rem, 16px, 32px);
}

.learn-more button {
  background: transparent;
  border: 1px solid var(--secondary-font-color);
  color: var(--primary-font-color);
  padding: 6px;
  z-index: 1;
  transition: all 0.2s ease-in;
}

.learn-more button:hover {
  background: var(--secondary-font-color);
  color: #212121;
  cursor: pointer;
  border: 1px solid black;
}


/* Links */
.social-links {
  width: min-content;
  position: absolute;
  bottom: 2vh;
  left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

.social-links img {
  width: 25px;
  backdrop-filter: multiply;
  filter: brightness(0) invert(1);
}

#instagram {
  filter: brightness(0.2) invert(1); /* Adjust the brightness value as needed */
}

/* Decorations */
#ecllipse1, #ecllipse2, #ecllipse3 {
  position: absolute;
  top: 0;
}

#ecllipse1 {
  right: 4rem;
  top: 16vh;
}

#ecllipse2 {
  right: 6rem;
  top: 60%;
}

#ecllipse3 {
  right: 30%;
  top: 70vh;
}

.lhs-deco {
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
  left: 5vw;
}


/* Footer */
footer {
  display: flex;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 24px;
  transform: rotate(90deg);
}

footer > h2 {
  font-size: 16px;
  font-weight: 400;
}

footer > p {
  font-size: 32px;
  font-weight: 400;
}

/* About Section */
#about-section {
  overflow: hidden;
  display: flex;
  gap: 2rem;
  padding-inline: clamp(2rem, 3rem, 100px);
  padding-top: 4dvh;
  padding-bottom: 0;
}

#about-section img {
  width: clamp(400px, 45%, 600px);
  height: 75dvh;
}

#about-section .info-container {
  color: var(--secondary-font-color);
}

#about-section .info-container button {
  transition: all 0.2s ease-in;
}

#about-section .info-container button:hover {
  background-color: var(--secondary-font-color);
  color: #212121;
}

#about-section .info-container h1 {
  color: var(--primary-font-color);
  font-size: 80px;
  max-width: max-content;
  padding-top: 3rem;
  border-top: 4px solid var(--highlight-font-color);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#about-section .info-container p {
  margin: 12lvh 0;
}

#about-section .info-container a {
  text-decoration: none;
  background: transparent;
  padding: 7px 12px;
  color: var(--secondary-font-color);
  border: 1.25px solid var(--secondary-font-color);
  transition: all 0.4s ease-out;
}

#about-section .info-container a:hover {
  background-color: var(--secondary-font-color);
  color: #212121;
}

/* Projects-Section */
#projects-section {
  min-width: 100dvw;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
#projects-section .article-image {
  position: relative;
  right: 0;
  width: 700px;
  height: 90dvh;
}
#projects-section img {
  width: 700px;
  height: 90dvh;
  object-fit: cover;
  object-position: center;
}

#projects-section .navigation-buttons {
  position: absolute;
  display: grid;
  bottom: 18dvh;
  left: 0;
}

#projects-section .navigation-buttons button {
  width: 30px;
  height: 30px;
}

#projects-section  a {
  width: max-content;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--secondary-font-color);
  border-radius: none;
}

#projects-section .info {
  position: relative;
  top: 20dvh;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#projects-section .info h1 {
  color: var(--secondary-font-color);
  margin-left: 2rem;
}


#projects-section .article-image .article-intro {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: #212121b6;
  backdrop-filter: blur(2px);
  padding: 1rem 2rem;
  color: #fff;
  bottom: 5vh;
  position: absolute;
}


/* Blog Section */
#blog-section {
  position: relative;
  display: grid;
  place-content: center;
}

.carousel-container {
  height: 80dvh;
  position: relative;
  max-width: 100vw; /* Adjust the maximum width as needed */
  /* margin-top: 5vh; */
  /* margin: auto; */
}


.carousel {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background-position: center;
  overflow-y: hidden;
  background: transparent;
}

.slide {
  min-width: 100vw;
  height: 80vh;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.slide img {
  object-fit: cover;
  object-position: center;
  width: 55vw;
  height: 80vh;
}

.caption {
  display: flex;
  height: fit-content;
  flex-direction: column;
  position: relative;
  top: 30vh;
  left: 4rem;
  right: 0;
  color: #fff;
  padding: 10px;
  text-align: start;
}

.caption a {
  margin-top: 16px;
  width: max-content;
  padding: .5rem 1rem;
  border: 1.5px solid var(--primary-font-color);
  color: var(--primary-font-color);
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease; /* Add smooth transition */
}

.caption a:hover {
  border: none;
  background-color: #fff;
  color: #212121;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  width: 100dvw; 
  text-align: center;
}

.prev-button,
.next-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f1f1f100;
  border: none;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  color: var(--primary-font-color);
  background-color: #dddddd44;
}

.material-symbols-outlined {
  filter: invert(90deg);
  font-size: 3rem;
  font-weight: 500;
  color: #000;
}

.material-symbols-outlined:hover {
  color: #ff8d41;
}

.dot-indicators {
  position: absolute;
  left: 50vw;
  bottom: 2vh;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot-indicator {
  width: 6px;
  height: 6px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}

.active-dot {
  transform: scale(1.5);
  background-color: var(--highlight-font-color);
}



/* Contact Section */
#contact-section {
padding: 2vh 2rem;
position: relative;
display: flex;
gap: 12rem;
}

#contact-section .contact-info {
display: flex;
flex-direction: column;
padding: 2rem;
gap: 2rem;
}

#contact-section .contact-info h1 {
color:var(--secondary-font-color)
}

#contact-section .contact-info p {
line-height: 24px;
color: var(--primary-font-color);
}

#contact-section .get-in-touch {
position: relative;
width: clamp(400px, 47vw, 668px);
height: clamp(400px, 82vh, 718px);
display: grid;
place-items: center;
/* margin-right: vw; */
border: none;
background-color: #2a2f3d1e;
box-shadow: -8px 8px 10px 2px rgba(0, 0, 0, 0.4);
}

#contact-section .get-in-touch .input-field {
width: 400px;
display: grid;
gap: 15vh;
}
#contact-section .get-in-touch .input-field input {
padding: .2rem 0;
}

#contact-section .get-in-touch h1 {
color: var(--primary-font-color);
}

#contact-section .get-in-touch button {
padding: 0.4rem 1rem;
color: var(--primary-font-color);
background-color: #212121;
border: 0.5px solid white;
}

#contact-section .get-in-touch button:hover {
opacity: 0.8;
}


@media (width > 1920px) {
  body {
    min-width: 100vw;
  }
  nav {
    min-width: 100vw;
  }
  nav img {
    display: none;
  }
  #about-social-links {
    display: none;
  }
}

@media (width > 500px) {
  nav img {
    display: none;
  }
  #about-social-links {
    display: none;
  }
}

/* Mobile View */
@media (width < 821px) {
  body {
    background: linear-gradient(269deg, rgba(151, 230, 255, 0.06) 0%, rgba(151, 230, 255, 0.00) 100%), linear-gradient(133deg, rgba(106, 106, 106, 0.05) 0%, rgba(76, 76, 76, 0.00) 100%), #212121;
    overflow: hidden;
  }

  nav {
    max-width: clamp(300px, 98vw, 600px); /* Responsive max-width */
    background-color: #323232;
    border-radius: 12px;
    margin: 2vw auto; /* Center horizontally */
    position: fixed; /* Change to "fixed" to keep it visible when scrolling */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    display: grid;
    gap: 2vw;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    z-index: 9;
  }
  
  
  nav #home-link {
    margin-right: 20px;
  }

  nav h3 {
    display: none;
  }

  nav img {
    width: 30px;
    display: block;
  }

   /* Apply the "hopUp" animation to nav img on hover, click, and focus */
   nav img:hover,
   nav img:active,
   nav img:focus {
     animation: hopUp .3s linear;
   }
 
   @keyframes hopUp {
     from {
       transform: translateY(0); /* Starting position or style */
     }
     30% {
       transform: translateY(-7px); /* Ending position or style */
     }
     60% {
       transform: translateY(-4px);
     }
     to {
       transform: translateY(0);
     }
   }

  footer {
    display: none;
  }

  .lhs-deco {
    transform: scale(1);
    position: absolute;
    top: 2rem;
    right: 12px;
    left: auto;
  }

  #ecllipse1 {
    transform: scale(1.25);
    position: relative;
    top: 12vh;
    left: 42px;
    z-index: -999;
  }

  #ecllipse2 {
    transform: scale(1.25);
    top: 75%;
    left: auto;
    right: 50px;
    z-index: -999;
  }

  #ecllipse3 {
    transform: scale(1.25);
    top: auto;
    bottom: 6vh;
    left: 12px;
    z-index: -999;
  }

  /* Home Section */
  #home-section h1 {
    padding: 5px;
    width: 360px;
    font-size: 30vw;
    position: relative;
    left: 0;
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
  }
  .main-intro {
    width: 98dvw;
    min-height: fit-content;
    position: fixed;
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
    padding: 12px;
  }

  #home-section p {
    position: relative;
    bottom: 12px;
    font-size: 1.2rem;
    padding-inline: 5px;
  }

  #home-section button {
    position: fixed;
    bottom: 100px;
    left: 10%;
    transform: scale(1.5);
    border: 2px solid;
  }

  /* About Section */
  #about-section {
    max-width: 100vw;
    height: 100dvh;
    overflow: hidden;
    display: grid;
    flex-direction: column;
  }
  #about-section img {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #about-section .info-container h1 {
    font-size: 4rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 5.5px;
    padding: 0;
    border: none;
    position: absolute;
    top: 0;
    left: 1rem;
    text-transform: uppercase;
  }
  #about-section .info-container h2 {
    position: relative;
    top: 40px;
    left: -26px;
    font-size: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .social-links {
    display: none;
  }
  .info-container p {
    padding: 12px;
    background-color: #32323230;
    backdrop-filter: blur(8px);
    position: absolute;
    bottom: 90px;
    left: 0vw;
    color: #BEBEBE;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
  }
  .info-container a {
    margin-top: 0;
    position: absolute;
    bottom: 100px;
    left: 3vw;
    font-weight: 900;
  }

  /* Blog Section */
  #blog-section {
    position: relative;
  }
  #blog-section img {
    /* opacity: 0.2; */
    position: relative;
    top: 0;
    min-width: 99vw;
    max-height: 60vh;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
  }
  .slide {
    position: relative;
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
  }
  .caption {
    font-size: 4vw;
    position: absolute;
    display: flex;
    top: 50dvh;
    left: 0;
    z-index: 9;
  }
  .caption h2 {
    font-variant: small-caps;
      text-shadow: 0px 0px 15px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;
  }
  .caption a {
    font-size: calc(2vw + 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #D9D9D9;
    color: #212121;
    margin: 0 auto; /* Center horizontally */
    margin-top: 1rem;
    padding: 3vh 30vw; /* Adjust padding as needed */
    height: 30px;
    flex-shrink: 0;
    position: relative;
    bottom: 0;
    z-index: 1;
  }
  
  .dot-indicators {
    position: fixed;
    bottom: 80px;
    left: 45%;
  }
  .prev-button .material-symbols-outlined,
  .next-button .material-symbols-outlined {
    color: var(--secondary-font-color);
    background-color: #212121;
    border-radius: 50px;

  }

  /* Projects Section */
  #projects-section {
    position: relative;
    display: grid;
    place-content: center;
  }
  #projects-section .article-image {
    position: relative;
  }
  #projects-section .article-image .image {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 100dvw;
    height: 65dvh;
    object-fit: cover;
  }

  #projects-section .article-image .article-intro {
    position: absolute;
    z-index: 999;
    bottom: 120px;
    background: none;
    padding: 0;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
  }

  #projects-section .article-image .article-intro #blog-number {
    position: fixed;
    bottom: -100px;
    top: auto;
    left: 8%;
    transform: translateX(-8%);
  }

  #projects-section .info {
    border-radius: 32px;
    background: #323232;
    padding: 0rem;
    padding-top: 1rem;
    z-index: 999;
    position: absolute;
    top: auto;
    bottom: 5px;
    width: clamp(300px, 320px, 450px);
    height: 261px;
    flex-shrink: 0;
  }

  #projects-section .info a {
    border-radius: 12px;
    position: absolute;
    bottom: 18px;
    top: auto;
    right: 27px;
  }

  #projects-section .article-image .image img {
    position: relative;
    opacity: 1;
    width: 100dvw;
    height: 70dvh;
    object-fit: cover;
    object-position: center;
  }
  #projects-section .navigation-buttons {
    position: fixed;
    top: 75dvh;
    display: flex;
    justify-content: space-between;
    width: 100dvw;
    padding-inline: 12px;
    z-index: 999;
  }

  #projects-section .navigation-buttons #previous-btn,
  #projects-section .navigation-buttons #next-btn {
    border-radius: 50px;
    transform: scale(1.5);
  }

  /* Contact Section */
  #contact-section {
    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;
    display: grid;
    place-content: center;
  }

  #contact-section .contact-info {
    position: fixed;
    top: 60dvh;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    transform: scale(.75);
  }

  #contact-section .get-in-touch {
    max-width: 90dvw;
    height: 63dvh;
    display: grid;
    place-content: center;
    padding: 2rem;
  }

  #contact-section .get-in-touch .input-field {
    display: grid;
    gap: 4rem;
    width: 300px;
    margin: 6vh auto;
  }
  
}