
/* Mobile View */
@media (width < 821px) {
    body {
      background: linear-gradient(269deg, rgba(151, 230, 255, 0.06) 0%, rgba(151, 230, 255, 0.00) 100%), linear-gradient(133deg, rgba(106, 106, 106, 0.05) 0%, rgba(76, 76, 76, 0.00) 100%), #212121;
      overflow: hidden;
    }
  
    nav {
      max-width: clamp(300px, 98vw, 600px); /* Responsive max-width */
      background-color: #323232;
      border-radius: 12px;
      margin: 2vw auto; /* Center horizontally */
      position: fixed; /* Change to "fixed" to keep it visible when scrolling */
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); /* Center horizontally */
      display: grid;
      gap: 2vw;
      place-content: center;
      grid-template-columns: repeat(4, 1fr);
    }
  
    nav h3 {
      display: none;
    }
  
    nav img {
      width: 32px;
      display: block;
    }

    nav .icon {
        margin-right: 28px;
    }
    /* Apply the "hopUp" animation to nav img on hover, click, and focus */
    nav img:hover,
    nav img:active,
    nav img:focus {
      animation: hopUp .3s linear;
    }
  
    @keyframes hopUp {
      from {
        transform: translateY(0); /* Starting position or style */
      }
      30% {
        transform: translateY(-7px); /* Ending position or style */
      }
      60% {
        transform: translateY(-4px);
      }
      to {
        transform: translateY(0);
      }
    }
  
    footer {
      display: none;
    }
  
    .lhs-deco {
      transform: scale(1);
      position: absolute;
      top: 2rem;
      right: 12px;
      left: auto;
    }
  
    #ecllipse1 {
      transform: scale(1.25);
      position: relative;
      top: 12vh;
      left: 42px;
      z-index: -999;
    }
  
    #ecllipse2 {
      transform: scale(1.25);
      top: 75%;
      left: auto;
      right: 50px;
      z-index: -999;
    }
  
    #ecllipse3 {
      transform: scale(1.25);
      top: auto;
      bottom: 2.25vh;
      left: 20vw;
      z-index: -999;
    }
  
    /* Home Section */
    #home-section h1 {
      padding: 5px;
      max-width: 360px;
      font-size: 30vw;
      position: relative;
      left: 0;
      top: 50%; /* Center vertically */
      transform: translateY(-50%);
    }
    .main-intro {
      width: 98dvw;
      min-height: fit-content;
      position: fixed;
      top: 50%; /* Center vertically */
      transform: translateY(-50%);
      padding: 12px;
    }
  
    #home-section p {
      position: relative;
      bottom: 12px;
      font-size: 1.2rem;
      padding-inline: 5px;
    }
  
    #home-section button {
      position: fixed;
      bottom: 100px;
      left: 10%;
      transform: scale(1.5);
      border: 2px solid;
    }
  
    /* About Section */
    #about-section {
      max-width: 100vw;
      height: 100dvh;
      overflow: hidden;
      display: grid;
      flex-direction: column;
    }
    #about-section img {
      position: absolute;
      width: 100dvw;
      height: 100dvh;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    #about-section .info-container h1 {
      font-size: 4rem;
      font-family: Inter;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: 5.5px;
      padding: 0;
      border: none;
      position: absolute;
      top: 0;
      left: 1rem;
      text-transform: uppercase;
    }
    #about-section .info-container h2 {
      position: relative;
      top: 40px;
      left: -26px;
      font-size: 28px;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .social-links {
      display: none;
    }
    .info-container p {
      padding: 12px;
      background-color: #32323230;
      backdrop-filter: blur(8px);
      position: absolute;
      bottom: 90px;
      left: 0vw;
      color: #BEBEBE;
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.32px;
    }
    .info-container a {
      margin-top: 0;
      position: absolute;
      bottom: 100px;
      left: 3vw;
      font-weight: 900;
    }
  
    /* Blog Section */
    #blog-section {
      position: relative;
    }
    #blog-section img {
      position: relative;
      top: -10vh;
      min-width: 99vw;
      border-bottom-right-radius: 32px;
      border-bottom-left-radius: 32px;
    }
    .slide {
      border: 2px solid red;
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      min-width: 100vw;
      height: 100vh;
      scroll-snap-align: start;
    }
    .caption {
      font-size: 4vw;
      color: #f1f1f1;
      position: relative;
      display: flex;
      top: -90px;
      left: 0;
      z-index: 9;
    }
    .caption h2 {
      font-variant: small-caps;
      text-shadow: 0px 0px 15px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;
    }
    .caption a {
      font-size: clamp(0.5rem, 16px, 5vw);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      background: #c8c8c8;
      color: #212121;
      margin: 0 auto; /* Center horizontally */
      margin-top: 1rem;
      padding: 12px 30vw; /* Adjust padding as needed */
      height: 30px;
      flex-shrink: 0;
      position: relative;
      bottom: 0;
    }
    
    .dot-indicators {
      position: fixed;
      bottom: 80px;
      left: 45%;
    }
    .prev-button .material-symbols-outlined,
    .next-button .material-symbols-outlined {
      color: var(--secondary-font-color);
      background-color: #212121;
      border-radius: 50px;
  
    }
  
    /* Projects Section */
    #projects-section {
      position: relative;
      display: grid;
      place-content: center;
    }
    #projects-section .article-image {
      position: relative;
    }
    #projects-section .article-image .image {
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      width: 100dvw;
      height: 65dvh;
      object-fit: cover;
    }
  
    #projects-section .article-image .article-intro {
      position: absolute;
      z-index: 999;
      bottom: 120px;
      background: none;
      padding: 0;
      width: 300px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    #projects-section .article-image .article-intro #blog-number {
      position: fixed;
      bottom: -100px;
      top: auto;
      left: 8%;
      transform: translateX(-8%);
    }
  
    #projects-section .info {
      border-radius: 32px;
      background: #323232;
      padding: 0rem;
      padding-top: 1rem;
      z-index: 999;
      position: absolute;
      top: auto;
      bottom: 5px;
      width: clamp(300px, 320px, 450px);
      height: 261px;
      flex-shrink: 0;
    }
  
    #projects-section .info a {
      border-radius: 12px;
      position: absolute;
      bottom: 18px;
      top: auto;
      right: 27px;
    }
  
    #projects-section .article-image .image img {
      position: relative;
      opacity: 1;
      width: 100dvw;
      height: 70dvh;
      object-fit: cover;
      object-position: center;
    }
    #projects-section .navigation-buttons {
      position: fixed;
      top: 75dvh;
      display: flex;
      justify-content: space-between;
      width: 100dvw;
      padding-inline: 12px;
      z-index: 999;
    }
  
    #projects-section .navigation-buttons #previous-btn,
    #projects-section .navigation-buttons #next-btn {
      border-radius: 50px;
      transform: scale(1.5);
    }
  
    /* Contact Section */
    #contact-section {
      max-width: 100dvw;
      max-height: 100dvh;
      overflow: hidden;
      display: grid;
      place-content: center;
    }
  
    #contact-section .contact-info {
      position: fixed;
      top: 60dvh;
      display: grid;
      grid-template-columns: repeat( 3, 1fr);
      transform: scale(.75);
    }
  
    #contact-section .get-in-touch {
      max-width: 90dvw;
      height: 63dvh;
      display: grid;
      place-content: center;
      padding: 2rem;
    }
  
    #contact-section .get-in-touch .input-field {
      display: grid;
      gap: 4rem;
      width: 300px;
      margin: 6vh auto;
    }
    
  }