
/* Projects-Section */
#projects-section {
    min-width: 100dvw;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }
  #projects-section .article-image {
    position: relative;
    right: 0;
    width: 700px;
    height: 90dvh;
  }
  #projects-section img {
    width: 700px;
    height: 90dvh;
    object-fit: cover;
    object-position: center;
  }
  
  #projects-section .navigation-buttons {
    position: absolute;
    display: grid;
    bottom: 18dvh;
    left: 0;
  }
  
  #projects-section .navigation-buttons button {
    width: 30px;
    height: 30px;
  }
  
  #projects-section  a {
    width: max-content;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--secondary-font-color);
    border-radius: none;
  }
  
  #projects-section .info {
    position: relative;
    top: 20dvh;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  #projects-section .info h1 {
    color: var(--secondary-font-color);
    margin-left: 2rem;
  }
  
  
  #projects-section .article-image .article-intro {
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: #212121b6;
    backdrop-filter: blur(2px);
    padding: 1rem 2rem;
    color: #fff;
    bottom: 5vh;
    position: absolute;
  }
  
  